#message-panel{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 98%;
    background-color: rgba(255, 255, 255, 0.808);
    margin:12px;
    margin-left:0;
    border-radius: 0px 10px 10px 0px;
    border-left: 0px;
    color:rgb(68, 68, 68)
}


#message-panel-segment{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-flow: wrap;
}
